/* Fonts */
@font-face {
    font-family: roboto;
    src: url(fonts/roboto/Roboto[wdth\,wght].ttf);
}

@font-face {
    font-family: robotocond;
    src: url(fonts/robotocondensed/RobotoCondensed[wght].ttf);
}

@font-face {
    font-family: robotoflex;
    src: url(fonts/robotoflex/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf)
}

@font-face {
    font-family: robotoserif;
    src: url(fonts/robotoserif/RobotoSerif[GRAD\,opsz\,wdth\,wght].ttf)
}

/* Font testing */

.roboto {
    font-family: roboto;
    font-style: italic;
}

.robotocond {
    font-family: robotocont;
    font-weight: 900;
}

.robotoflex {
    font-family: robotoflex;
    font-style: oblique;
}

.robotoserif {
    font-family: robotoserif;
    font-variant: small-caps;
}

/* Website styles */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 24px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .right-links {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.top-content {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    /* min-height: 400px; */
    padding: 70px 100px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 50%; */
    gap: 10px;
    /* border: 1px solid red; */
}

.left .subtitle {
    font-size: 48px;
    font-weight: bolder;
}

.left .subtext {
    color: #E5E7EB;
    font-size: inherit;
}

.left button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: inherit;
    font-size: inherit;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 20px;
}

img.main-img {
    height: auto;
    /* min-width: 250px; */
    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    /* border: 1px solid red; */
}